.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header style */
.header {
    background-image: url(./developer.png), url(./header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /background-size: 0 784px;
    margin: 38px 0 25px 23px;
}

nav {
    display: flex;
    align-items: center;
    margin: 30px 200px;
    justify-content: space-between;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

.primary-text {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-family: open-sans-serif;
    color: white;
    font-size: 20px;
    padding: 14px 35px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-display: medium;
    cursor: pointer;
}

/* banner styles */

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-profile-pic {
    width: 480px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.section-title {
    padding: 0 ;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.secondary-bg {
    background-color: #fff8f3;

}

/* about section */
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
    
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

main{
    max-height: 550;
    max-width: 1140px;
    margin: 0 auto;
}
.about-items{
    display: flex;
    justify-content: space-around;

}
.item-description{
    font-weight: 600;
}
.about-border{
    border: 1px solid black;
}
.text-center{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

